@media (max-width: 800px) {
    .jumbotron {
        display: none;
    }
}

@media (min-width: 800px) {
    .jumbotron {
        display: block;
    }
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Monda', sans-serif;
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Roboto', sans-serif;
}

small.disclaimer {
    font-family: sans-serif;
    font-size: 10px;
    line-height: normal;
    display: block;
}
h2, h3, h4 {
    font-weight: normal;
}
h1 {
    font-weight: 700;
}

h2 {
    font-size: 28px;
}

p {
    line-height: 22px;
}

li {
    margin-top:4px;
}

.masthead .claim {
    font-size: 24px;
    color:#bbbbbb;
}

.masthead .subclaim {
    font-size: 16px;
    color:#bbbbbb;
}

.spacer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.masthead h1 {
    font-size: 60px;
    line-height: 72px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 900px;

}
.container-narrow > hr {
    /*margin: 30px 0;*/
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    /*height: 500px;*/
    margin: 0;
    text-align: left;
    color: white;
    /*background-image:url('img/splashpage_bg.jpg')*/
    background: rgb(208,228,247); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,228,247,1)), color-stop(24%,rgba(115,177,231,1)), color-stop(50%,rgba(10,119,213,1)), color-stop(79%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Opera 11.10+ */

}

.jumbotron {
    position: relative;
    padding: 20px 0;
    padding-top: 5px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #020031; /* Old browsers */
    background:#ddd;
}
.jumbotron h1 {
    font-size: 60px;
    padding: 10px;
    padding-top: 30px;
    line-height: 1;
}

.jumbotron .lead {
    padding-left: 10px;
}
.jumbotron .btn-large {
    font-size: 21px;
    padding: 14px 24px;
}

/*viewer comparison*/
.performance {
    color: #000;
    text-shadow: none;
}

.tiled-viewer, .download-viewer {
    float: left;
}

.relative {
    color: green;
    display: none; /*to be removed later*/
}

.viewer {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    margin: 0px 10px;
}

.start-viewertest {
    margin-top: -50px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.dropzone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold;
    color: #bbb;
    margin-bottom: 20px;
}
/*image fade for carousel*/

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}



/* TERMINAL */

pre.terminal {
    position: relative;
    color: #ddd;
    background: #000;
    padding: 5px;
    margin-top: 2.6em;
    border: 1px solid #aaa;
    border: 1px solid rgba(110,110,110,0.3);
    font-family: Menlo,Menlo-Regular,Inconsolata,Monaco,monospace;
    font-size: 13px;
    line-height: 1.2em;
}

.command-prompt {
    color: #FFF;
}
.command-prompt:before {
    content: "$ ";
    color: #ddd;
}

pre.terminal .green {
    color: #0c0;
}


.upload-format .format-label {
    float:left;
    margin-right: 10px;
    width: 70px;
    text-align: right;
    background-color: transparent;
    color: #000;
}

.upload-buttons {
    text-align:right;

}