<!DOCTYPE html>
<html ng-app="trl">
<head>
	<title></title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-themes/slate.css" rel="stylesheet"/>
    <link href="js/trelew/css/trelew.css" rel="stylesheet"/>
    <link href="vendor/openlayers/f79fbd5cf1-dist/theme/default/style.css" rel="stylesheet"/>
	<style type="text/css">
        .photo-catalog {
            left: 0;
            margin-bottom: 0;
            right: 0;
            bottom: 0;
            top:auto;
            position: absolute;
        }


        
        .photo-viewer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top:0;
            margin-left:0px;
            margin-bottom: 140px;
            margin-right:0px;
            margin-top:42px;
        }
        
        .catalog-thumbnails {
            margin: 0;
            width: 100%;
        }
        .catalog-thumbnails ul {
            list-style-type: none;
        }
        .catalog-thumbnails ul li {
            margin-left: 20px;
            float: left;
        }
        
        .catalog-thumbnails ul li img {
            height: 100px;
            width: auto;
            overflow: crop;
        }
        
        .1viewer {
            background-color: #ddd;
        }
        
    </style>
	<script type="text/javascript" src="vendor/openlayers/f79fbd5cf1-dist/OpenLayers.js"></script>
	<!--<script type="text/javascript" src="js/angular/1.0.7.js"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.3/angular-route.js"></script>
	<script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-0.7.0.js"></script>
	<script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
	<script type="text/javascript" src="vendor/underscore/1.5.1-min.js"></script>
	<script type="text/javascript" src="js/trelew/app.js"></script>
	<script type="text/javascript" src="js/trelew/controllers.js"></script>
	<script type="text/javascript" src="js/trelew/directives/photoviewer.js"></script>
</head>
<body>
    <!-- HEADER -->
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Trelew MPx Viewer</a>
        <ul class="nav">
            <!-- Albums -->
            <li class="active" ng-controller="UserNameCtrl"><a href="#/user/{{userName}}/albums">{{userName}}'s Albums ></a></li>
            
            <!-- Active Album -->
            <li class="dropdown" ng-controller="AlbumCtrl">
              <a class="dropdown-toggle">
               {{albumName}} >
              </a>
            </li>
            
            
            <!-- Current Photo -->
            <li class="dropdown" ng-controller="DownloadCtrl">
              <a class="dropdown-toggle">
                {{photoName}} >
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="choice in items">
                  <a href="{{choice.link}}" target="_new">{{choice.text}}</a>
                </li>
              </ul>
            </li>
            
            <!-- Current View -->
            <li class="dropdown" ng-controller="ZoomviewCtrl">
              <a class="dropdown-toggle">
                Fit to window
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="choice in items">
                  <a>{{choice}}</a>
                </li>
              </ul>
            </li>
        </ul>
        
        <ul class="nav pull-right">
           
            
            
            
            <!-- Search -->
            <li>
                <div ng-controller="TypeaheadCtrl" style="float:left;">
                    <!-- <pre>Model: {{selected| json}}</pre>-->
                    <input type="text" ng-model="selected" placeholder="Search in 'London Buildings'" typeahead="state for state in states | filter:$viewValue | limitTo:8">
                </div>
            </li>
            
            <!-- Account Page -->
            <li>
               <!--<button class="btn btn-small btn-inverse">-->
                <li class="dropdown" ng-controller="AccountCtrl">
                  <a class="dropdown-toggle" role="button" class="dropdown-toggle">
                    fbuchinger
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="choice in items">
                      <a>{{choice}}</a>
                    </li>
                  </ul>
                   <!-- </button>-->
                </li>
            </li>
            
            
        </ul>    
            
        

      </div>
    </div>
    

    
    <div class="container-fluid" ng-view >
    </div>
    
    <!-- PICTURE NAVIGATION BAR-->
    <!--<footer class="navbar navbar-bottom-fixed photo-catalog" ng-controller="UserAlbumCtrl">
      <div class="navbar-inner">
        <ul class="nav">
            <li ng-repeat="photo in photos">
                <a href="#/photos/{{photo.filename}}"><img ng-src="/dev/trelew/imagery/users/{{albumFolder}}/{{photo.fileName}}/jpeg/150x150.jpg" style="height:100px;"><br />{{photo.filename}}</a>
            </li>
        </ul>
      </div>
    </footer>-->
    
</body>
</html>