<div ng-include src='"js/trelew/partials/trelew-header.html"' ng-controller='TrelewHeaderCtrl'></div>
<div class="row" ng-controller="UserAlbumCtrl">
  <div class="leftcolumn span3">
    <!-- TABS GO HERE -->
  
  </div>
  <div class="photo-viewer" >
    <div class="viewer" photo-viewer="viewer" base-url="{{baseUrl}}" photo-name="{{photoName}}" photo-width="{{photoWidth}}" photo-height="{{photoHeight}}" style="width:100%; height:100%;">
    </div>
    <!--Center: {{viewer.center.toShortString()}}-->

  </div>

</div>
<footer class="navbar navbar-bottom-fixed photo-catalog" ng-controller="UserAlbumThumbnailCtrl">
    <div class="navbar-inner">
        <ul class="nav">
            <li ng-repeat="photo in photos"><a href="#/user/{{userName}}/album/{{albumFolder}}/{{photo.filename}}"><img ng-src="{{baseUrl}}{{photo.filename}}/jpeg/150x150.jpg" style="height:100px;"><br />{{photo.filename}}</a></li>
       </ul>
    </div>
</footer>

